<div class="home-sellingNowContainer">
    <p class="py-8 text-center text-lg">
      Fans have paid artists $1.04 billion using Bandcamp, and $186 million in
      the last year.
    </p>
    <div class="sellingNowBox">
      <span class="sellingNowBox-header pb-4">SELLING RIGHT NOW</span>
      <small class="ml-4">This is a place holder since it's live feed</small>
      <div class="sellingItems flex justify-between">
        <div *ngFor="let i of [].constructor(8)" class="sellingItem">
          <img src="https://f4.bcbits.com/img/a1014165016_16.jpg" alt="" />
          <p class="text-xs font-bold">Music Made by Other People</p>
          <p class="text-xs">by <a href="">bod[包家巷]</a></p>
          <p class="text-xs">Sold for $5</p>
          <p class="text-xs">in United States</p>
          <p class="text-xs text-gray-500">1 seconds ago</p>
        </div>
      </div>
    </div>
  </div>