<div class="home-articlesContainer">
    <div class="home-articlesBox flex">
      <div class="articles-main flex-auto">
        <div
          class="articles-left-box duration-200 hover:brightness-110 hover:contrast-75"
        >
          <a href=""
            ><img
              class="brightness-75"
              src="https://f4.bcbits.com/img/0030707635_0"
              alt=""
          /></a>
          <div class="articalText-centered text-white">
            <p class="text-4xl pb-3 font-bold">
              The Best Albums of 2022: Essential Releases
            </p>
            <p class="pb-4">The 24 key albums of 2022</p>
            <button
              class="border-solid border-2 px-3 py-1 border-white rounded"
            >
              read more
            </button>
          </div>
        </div>
      </div>
      <div class="articles-right flex-auto">
        <div
          class="articles-right-box articles-right-1-box duration-200 hover:brightness-110 hover:contrast-75"
        >
          <a href=""
            ><img
              class="brightness-75"
              src="https://f4.bcbits.com/img/0030841401_0"
              alt=""
          /></a>
          <div class="articalText-left text-white">
            <p class="text-md font-bold">Bandcamp Weekly</p>
            <p class="text-sm">
              Best of 2022 featuring appearances from Ezra Collective, Gilles
              Peterson, Sessa, and Nosaj Thing
            </p>
          </div>
        </div>
        <div
          class="articles-right-box articles-right-2-box duration-200 hover:brightness-110 hover:contrast-75"
        >
          <a href=""
            ><img
              class="brightness-75"
              src="https://f4.bcbits.com/img/0030712086_0"
              alt=""
          /></a>
          <div class="articalText-left text-white">
            <p class="text-md font-bold">The Best Punk of 2022</p>
            <p class="text-sm font-bold">List</p>
          </div>
        </div>
        <div
          class="articles-right-box articles-right-3-box duration-200 hover:brightness-110 hover:contrast-75"
        >
          <a href=""
            ><img
              class="brightness-75"
              src="https://f4.bcbits.com/img/0030708839_0"
              alt=""
          /></a>
          <div class="articalText-left text-white">
            <p class="text-md font-bold">
              Bandcamp Daily Staffers Look Back on 2022
            </p>
            <p class="text-sm font-bold">List</p>
          </div>
        </div>
      </div>
    </div>
  </div>