<nav class="header-user z-50">
  <ul class="flex h-14 justify-between">
    <li class="mr-3 flex">
      <a class="header-logo" href="/"
        ><img src="../../../assets/img/BandCamp_(11).png" alt=""
      /></a>
    </li>
  </ul>
</nav>
<div class="h-14"></div>
<div class="pageNotFoundContainer">
  <div class="pageNotFoundBox">
    <p class="pt-16 pl-10 font-bold text-lg">
      Sorry, that something isn’t here.
    </p>
    <p class="pl-10 pt-4 text-sm">
      Please
      <a href="/" class="text-blue-600 hover:underline"
        >start at the beginning</a
      >
      and you’ll certainly find what you’re looking for.
    </p>
  </div>
</div>
<app-footer></app-footer>
