<div class="footer-container pb-24">
  <div class="foorter-box grid grid-cols-4">
    <div class="firstCol col-start-1 col-end-2">
      <p><a href="">About us</a></p>
      <p><a href="">Fair Trade Music Policy</a></p>
      <p><a href="">Jobs</a></p>
      <p><span class="text-gray-300">Apps: </span> <a href="">Android</a> | <a href="">iOS</a></p>
      <p><a href="">Buttons/Logos</a></p>
      <p class="mt-8"><a href="">Terms of Use</a></p>
      <p><a href="">Privacy</a></p>
      <p><a href="">Copyright Policy</a></p>
    </div>
    <div class="secondCol col-start-2 col-end-3 ml-6">
      <p><a href="">Gift Cards</a></p>
      <p><a href="">Bandcamp Daily</a></p>
      <p><a href="">Facebook</a></p>
      <p><a href="">Twitter</a> | <a href="">Status</a></p>
      <p><a href="">Instagram</a></p>
      <p><a href="">Contact/Help</a></p>
    </div>
    <div class="thirdCol col-start-4 col-end-5">
      <p>
        <span class="text-gray-300">View: </span> <a href="">collection</a> |
        <a href="">site</a> | <a href="">purchases</a>
      </p>
      <p><a href="">Bandcamp for Artists</a></p>
      <p><a href="">Bandcamp for Fans</a></p>
      <p><a href="">Bandcamp for Labels</a></p>
      <p><a href="">Mobel View</a></p>
    </div>
  </div>
</div>
